# Paystack Configuration
# Get these from your Paystack dashboard (https://dashboard.paystack.com/)
VITE_PAYSTACK_PUBLIC_KEY=pk_test_debcd7ff5ccf858be09ca3bf6a4d7af090fabdea
PAYSTACK_SECRET_KEY=sk_test_c5688dac0011d71d4d54bc9876ba2283cbcf6ad3
